@font-face {
  font-family: "p22 stanyan regular";
  src: url("../../assets/P22\ Stanyan\ Regular\ Regular.woff2")
}

p {
  font-size: 10rem;
  font-family: p22 stanyan regular;
  margin: 0;
  color: black;
  cursor: default;
}

a {
  text-decoration: none;
}

.change:hover {
  font-size: 0;
  color: gray;
}

.change:hover:before {
  content: attr(data-hover);
  font-size: 10rem;
}

.pointer {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  p {
    font-size: 20vw;
  }
}
