p {
  font-size: 10rem;
  font-family: p22 stanyan regular;
  margin: 0;
  text-decoration: none;
  color: black;
}

a {
  text-decoration: none;
}

.input {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: spaced-evenly;
}

p:hover {
  color: gray;
  cursor: pointer;
}
